<h1 class="internal-title" data-ng:cloak>Token Data</h1>
<div class="principal" data-ng:cloak>
    <div class="data">
        <div>
            <label class="field">Access Token</lablel>
            <span class="value">{{ accessCode }}</span>
        </div>
        <div>
            <label class="field">Expires In</lablel>
            <span class="value">{{ expiresIn }}</span>
        </div>
    </div>

    <h2 class="sub-title">Code:</h2>
    <div class="section-code">
        <p>Controller code</p>
        <pre><code>
var rmTokenController = ($scope, rmMeetupOauthService) => {
    var oauthAccess = rmMeetupOauthService.getOauthAccess();

    $scope.accessCode = oauthAccess.tokenAccess;
    $scope.expiresIn = oauthAccess.expiresIn;
};

rmTokenController.$inject = ['$scope', 'rmMeetupOauthService'];

export default rmTokenController;
        </code></pre>
    </div>
</div>